C:\Programming\C++\libITMA\build\msvc\vs2015\Debug
C:\Programming\C++\libITMA\build\msvc\vs2015\x64
C:\Programming\C++\libITMA\build\msvc\vs2015\test_speed\x64

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk
*.pdb
*.idb
*.exp